body{
    font-family: Arial;
    font-size: 12pt

  }
 h2 {
    text-decoration: underline;
    font-family: Verdana;
    color: green;
 }
h3 {
    font-style: italic;
font-family: "Comic Sans";
color: #A570A5;
}

h4 {
    font-family: Arial;
    color: black;
    
}

section h1{
    font-family: Verdana;
    color: blue;
}
section h2{
    font-family: Tahoma;
    color: #333333;
}
section h3{
    font-family: Arial;
    color: black;
}